@{
    ViewBag.Title = "Contacts";
}

@model MyBlog.Models.ContactsModel 
 <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
          <h2><span>Contact</span></h2>
          <div class="clr"></div>
            <p>@Model.text</p> 
            <p>@Model.numder</p>
            <p>@Model.nextNumder</p>
            <p>@Model.email</p>
            <p>@Model.address</p>
        </div>
      </div>
        </div>
      </div>
