@{
    ViewBag.Title = "Titels";
}
@model MyBlog.Models.ArticleModel
<div class="mainbar">    
<div class="article">
    <ul>  @*!!!!сохраняет только посы*@
        @foreach(var item in Model.Titels){      
            <li>
                <h2>@Html.Raw(Model.Title)</h2>
                <div class="clr"></div>
                <p>Posted by <a href="#">Admin</a> <span>&nbsp;&bull;&nbsp;</span> @Html.Raw(Model.Date.ToString("D")) </p>
                <img src="@Model.Path" width="198" height="188" alt="" class="fl" />
                <p>@item</p>
              @*  <p>@Html.ActionLink("","","")</p>*@
        <div class="clr"></div>
             </li>
        }
    </ul>
</div>
</div>